<div *ngIf="loader">
    <div class="overlay">
      <div class="spinner-wrapper">
        <app-loader></app-loader>
  
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-6 form-group">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by Product Name">
            </mat-form-field>
            
       </div>
     
       <div class="col-md-2 offset-md-4 form-group">    
        <button (click)="openAddEditModal('Add', '')" class="btn btn-primary action-btn pull-right">Add
            Product</button>
       </div>
     
      </div>
</div>
 
  
<div class="col-xs-12 col-md-12" [class.blured]="loader" style="padding-bottom: 2.5rem">

    <div class="table-responsive">
    <table [dataSource]="dataSource"  mat-table matSort style="border: 1px solid lightgray">
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell>ID</th>
          <td *matCellDef="let element" mat-cell> {{element?.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Product Name</th>
          <td *matCellDef="let element" mat-cell>{{element?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>Description</th>
          <td *matCellDef="let element" mat-cell class="desc-css" > {{element?.description}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th *matHeaderCellDef mat-header-cell>Price</th>
          <td *matCellDef="let element" mat-cell> {{element?.price}}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th *matHeaderCellDef mat-header-cell>Quantity</th>
            <td *matCellDef="let element" mat-cell> {{element?.quantity}}
            </td>
          </ng-container>

        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let element" mat-cell>
            <span class="material-icons" (click)="openAddEditModal('View/Edit', element)" title="Edit" style="color:blue;cursor: pointer;">
                edit
                </span>&nbsp;
                <span class="material-icons" (click)="deleteProduct(element)" title="Delete" style="color: #DC143C;cursor: pointer;">
                    delete
                    </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
      
    </div>

  </div>